<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NJRY{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles-home.css' %}">
</head>
<body>
    <div class="wrapper">
        <!-- Include the NavBar here -->
        {% include 'navbar.html' %}

        <!-- Main content will go here -->
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>