<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NJRY{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles-home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="headerContainer">
            <div></div>
            <div class="title">NJRY</div>
            <!-- Include the NavBar here -->
            {% include 'navbar.html' %}
        </div>
            <!-- Main content will go here -->
            <div class="content">
                {% block content %}{% endblock %}
            </div>
    </div>
</body>
</html>