{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>NJRY</h1>
    <ul>
        {% if all_injuries_data|length > 0 %}
            {% for injury in all_injuries_data %}
                <li><strong>{{injury.status}}</strong></li>
                <ul>
                    <li>{{ injury.longComment }}</li>
                    <li>Return Date: {{injury.details.returnDate}}</li>
                </ul>
            {% endfor %}
        {% else %}
            <li>No injury data available.</li>
        {% endif %}
    </ul>
{% endblock %}