:root {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 344px;
  min-height: 100vh;
  background-color: #5E9942;
  background-image: url('./assets/FootballField.svg');
  background-repeat: no-repeat;
  background-size: 100% 150%;
  background-position: center;
  background-attachment: fixed;
}