.injuriesContainer {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.injuryContainer {
    box-shadow: rgb(143, 143, 143) 2px 10px 10px;
    background-color:black;
    color: white;
    margin: 10px;
    width:340px;
}

.injuryHeaderContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headshot {
    height:100px;
    border-radius: 60%;
    width: 137.61px
}

.nameNumberPos {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}